<!DOCTYPE html>
<html>
<head>
  <title>Bootstrap Example</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="../bootstrap/css/bootstrap.css" rel="stylesheet">


</head>
<body>

    <div class="container ">
        <div class="row ">
            <div class="col-md-2">
            <div class="dropdown">
<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
Dropdown button
</button>
<div class="dropdown-menu">
<a class="dropdown-item" href="#">Link 10</a>
<a class="dropdown-item" href="#">Link 22</a>
<a class="dropdown-item" href="#">Link 3</a>
</div>
</div>
</div>
</div>
</div>


<?php
if(isset($title) && $title == "Index") {
?>
<!-- Main jumbotron for a primary marketing message or call to action -->


<div class="jumbotron">
<div class="container">
  <h1>Welcome to online bookstore </h1>
  <p class="lead">This site has been made using PHP with MYSQL (procedure functions)!</p>
  <p>The layout use Bootstrap to make it more responsive. It's just a simple web!</p>
</div>
</div>
<?php } ?>

<div class="container" id="main">

<script src="../bootstrap/js/jquery-v341.js"></script>
<script src="../bootstrap/popper.js"></script>
<script src="../bootstrap/js/bootstrap.js"></script>
</body>
</html>
